<head>
  <style>

  .table-title {
    justify-content: center;
    font-weight: bold
  }

  </style>
</head>

<body>

  <h1>
  List of all directors
  </h1>

  <table border="1">
    <tr class="table-title">
    <td> ID </td>
    <td> Image </td>
    <td> Name </td>
    <td> Dob </td>
    <td>  </td>
    </tr>
  <% @list_of_directors.each do |a_thing| %>
    <tr>
      <td> <%= a_thing.id %></td>
      <td> 
        <img src="<%= a_thing.image %>">
      </td>
      <td> <%= a_thing.name %></td>
      <td> <%= a_thing.dob %></td>
      <td> 
        <a href="/directors/<%= a_thing.id %>">
          Show details
        </a>
      </td>

    </tr>
  <% end %>
  </table>

</body>
